


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body-edit">

  <% content_for :title, "Editing movie" %>

  <h1 class="h1-edit">Editing movie</h1>

  <%= render "form", movie: @movie %>

  <br>

  <div>
    <%= link_to "Show this movie", @movie %> |
    <%= link_to "Back to movies", movies_path %>
  </div>

</body>
</html>
